@use "../../assets/colors/colors.scss" as *;
.accordionItem {
  background-color: $primaryBlueLight;
  border-radius: 12px;
  [data-accordion-control] {
    outline: none;
    box-shadow: none;

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }
  &>:hover{
    background-color: $primaryBlueLight;
  }
}
