.stepperContainer {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 1rem;
  position: sticky;
  background-color: white;
  z-index: 20;
  width: 100%;
  top: 60px;
  display: flex;
  gap: 3rem;
}
.accordionRoot {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
