.wrapper {
  min-height: 100vh;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: light-dark(
  //   var(--mantine-color-gray-0),
  //   var(--mantine-color-dark-8)
  // );
}

.form {
  width: 100%;
}

.title {
  text-align: center;
  font-weight: 700;
}
